.nav-header {
  position: flex;
  display:flex;
  background:rgb(231, 28, 28);
}

.nav-header h1{
  color:rgb(0,47,167);
  padding-left:20px;
  font: 1px;
} 
.link{
  color: rgb(255, 255, 255);
  align-items: center;
  text-decoration: none
}